@import "tailwindcss";

body{
  font-family: "Montserrat", sans-serif;
  background-color: #0f172a;
} 
@keyframes border-roll {
  0% {
    border-top-color: #3b82f6;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: #3b82f6;
    border-right-color: #3b82f6;
  }
  50% {
    border-bottom-color: #3b82f6;
  }
  75% {
    border-left-color: #3b82f6;
  }
  100% {
    border-color: #3b82f6;
  }
}
@utility animate-border-roll {
  animation: border-roll 1s linear forwards;
}
.react{
  display: flex;
  align-items: center;
  justify-content: center;
}
.extension-manager{
  margin: 0;
  box-sizing: border-box;
}
.extension-manager.dark {
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.extension-manager.light {
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 100%);
}
